{% extends "base.html" %}

{% block title %}模擬店会計App.{% endblock %}

{% block content %}
    <h1 class="mt-4">売上ダッシュボード</h1>
    <a href="{{ url_for('index') }}" class="btn btn-secondary my-2">メインページに戻る</a>

    <!-- カードに累計数量と合計金額を表示 -->
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mt-2">
                <div class="card-header">累計</div>
                <div class="card-body">
                    <h4 class="card-title">{{ total_quantity }} 個</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mt-2">
                <div class="card-header">合計金額</div>
                <div class="card-body">
                    <h4 class="card-title">¥{{ total_sales }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- グラフで 売上情報を可視化 -->
    <div class="row">
        <div class="col-lg-6">
            <div class="chart-container">
                <h2 class="mt-4">売上数量（累計）</h2>
                <canvas id="cumulativeSalesChart"></canvas>    
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="mt-4">1時間ごとの売上数量</h2>
            <div class="chart-container">
                <canvas id="hourlySalesChart"></canvas>
            </div>
        </div>
    </div>
    <h2 class="mt-2">商品の人気</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="chart-container">
                <canvas id="productSalesChart"></canvas>
            </div>
        </div>
    </div>

<!-- Chart.js を読み込み -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script>
    // 累計売上数量を表示する折れ線グラフ
    var cumulativeCtx = document.getElementById('cumulativeSalesChart').getContext('2d');
    var cumulativeSalesChart = new Chart(cumulativeCtx, {
        type: 'line',
        data: {
            labels: {{ sorted_hours|tojson }},
            datasets: [{
                label: '数量',
                data: {{ cumulative_quantities|tojson }},
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 2,
                fill: false
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: '時間'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: '数量'
                    }
                }
            }
        }
    });
    
    // 単位時間ごとの売上数量を表示する棒グラフ
    var hourlyCtx = document.getElementById('hourlySalesChart').getContext('2d');
    var hourlySalesChart = new Chart(hourlyCtx, {
        type: 'bar',
        data: {
            labels: {{ sorted_hours|tojson }},
            datasets: [{
                label: '数量',
                data: {{ quantities|tojson }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: '時間'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: '数量'
                    }
                }
            }
        }
    });

    // 円グラフを描画 (売れた商品の割合)
    var productCtx = document.getElementById('productSalesChart').getContext('2d');
    var productSalesChart = new Chart(productCtx, {
        type: 'pie',
        data: {
            labels: {{ product_names|tojson|default('[]') }},
            datasets: [{
                label: '数量',
                data: {{ product_quantities|tojson|default('[]') }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                datalabels: {
                    formatter: (value, ctx) => {
                        let sum = ctx.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                        let percentage = (value * 100 / sum).toFixed(1) + "%";
                        return percentage;
                    },
                    color: '#777',
                    font: {
                        weight: 'bold'
                    }
                }
            }
        },
        plugins: [ChartDataLabels] // Chart.jsのプラグインとしてdatalabelsを有効化
    });
</script>

{% endblock %}
